@import url("grid.css");
/********** Basic styles **********/
body {
  background: #f1f1f1;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
}
a:link,
a:visited,
#content a:link,
dl.portlet a:link {
  color: #000000;
}
.state-published {
  color: #000000 !important;
}
a:hover {
  color: #000000;
}
#content a:hover,
dl.portlet a:hover {
  color: #000000 !important;
  /* Unfortunatelly is necessary with sunburst */

}
.clear {
  clear: both;
}
/********** Main container **********/
#wrapper {
  padding: 0;
}
#main {
  margin: 0 auto;
  max-width: 96%;
}
/********** Header **********/
header {
  background-color: #ffffff;
  color: #000000;
}
header a:link,
header a:visited {
  color: #000000;
}
header a:hover {
  color: #000000;
}
/* Logo */
#portal-logo {
  margin-left: 2%;
}
#portal-siteactions {
  text-align: right;
  margin-right: 2%;
  font-size: 80%;
}
#portal-siteactions a:before {
  font-family: FontAwesome;
  font-size: 1em;
  margin-right: 0.3em;
}
#siteaction-contact a:before {
  content: "\f0e0";
}
#siteaction-sitemap a:before {
  content: "\f0e8";
}
#siteaction-accessibility a:before {
  content: "\f118";
}
#siteaction-search a:before {
  content: "\f002";
}
#portal-siteactions li#siteaction-accessibility {
  width: 17px;
}
#portal-siteactions li a:hover {
  color: #000000;
}
/* search */
#portal-searchbox {
  margin-right: 2%;
}
.searchButton {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: none;
  padding: 0.4em 0.7em;
  background: #e6e6e6;
  color: #000000;
  cursor: pointer;
}
/* Navigation */
nav {
  margin: 0;
  clear: both;
  background: #e6e6e6;
  color: #000000;
}
nav ul {
  padding: 0.3em 2%;
  text-align: right;
}
nav li {
  display: inline-block;
}
nav li a:link {
  font-size: 80%;
  text-decoration: none;
  display: block;
  padding: 0 1em;
  border-right: 1px solid #000000;
}
nav li:last-child a {
  border: none;
  padding-right: 0;
}
nav li a:link,
nav li a:visited {
  color: #000000;
}

/* Mobile Menu button colors */

.menu-button{
  background: #ffffff;
}

.menu-button button{
  border-color: black;
  background: none;
  color: black;
}

.menu-button > button:hover {
  background: #E6E6E6 !important;
}

.menu-button > button.menuAtivo {
  background: #E6E6E6; 
}

/********** Content **********/
/* breadcrumb */
#portal-breadcrumbs {
  margin: 1.2em 2%;
  font-size: 80%;
  clear: both;
}
.section-front-page #portal-breadcrumbs {
  visibility: hidden;
}
/* text styles */
p {
  line-height: 1.4em;
}
h1 {
  color: #000000;
  border: none;
  margin-bottom: 0;
  font-size: 2.5em;
}
h2 {
  color: #000000;
}
#content {
  margin: 0;
}
#content .documentDescription,
#content #description {
  color: #4d4d4d;
  font-weight: normal;
  margin-bottom: 1em;
}
/********** Tiles **********/
/*********** Portlets ***********/
/* general styles */
.portletHeader,
dl.portlet dt.portletHeader {
  border:0;
  font-weight: bold;
  background-color: #E6E6E6;
  color: #000000;
}
.portletHeader a,
dl.portlet dt.portletHeader a {
  color: #000000;
  transition: all ease-out 0.1s;
}
.portlet {
  margin-bottom: 2em;
}
/* lists inside columns */
aside dl,
aside dd,
aside ul {
  padding: 0;
  margin: 0;
}
aside a {
  text-decoration: none;
}
/* portlet navigation */
.portletNavigationTree ul {
  margin: 0;
}
.portletNavigationTree li {
  list-style-position: inside;
}
.portlet.portletNavigationTree .navTree .navTreeItem {
  margin: 0;
}
.portlet.portletNavigationTree .navTreeLevel0 > .navTreeItem {
  padding: 0;
}
.portlet.portletNavigationTree .navTree > .navTreeItem {
  border-bottom: rgba(230, 230, 230, 0.4) 1px solid;
  list-style: none;
}
.portlet.portletNavigationTree .navTreeLevel1 .navTreeItem {
  padding-left: 1em;
}
.portlet.portletNavigationTree .navTreeLevel1 .navTreeItem:last-of-type {
  border-bottom: none;
}
.portlet.portletNavigationTree .navTree .navTreeItem a {
  display: block;
  padding: 0.8em 1em;
  border-left: 0px solid transparent;
  transition: all ease-out 0.1s;
  line-height: initial;
}
.portlet.portletNavigationTree .navTree .navTreeItem a:hover {
  border-left: 5px solid #fff;
  background-color: rgba(230, 230, 230, 0.4);
}
.portlet.portletNavigationTree .navTree .navTreeItem a.navTreeCurrentItem {
  border-left: 5px solid #fff;
  background-color: rgba(230, 230, 230, 0.8);
}
dl.portlet ul.navTree .navTreeCurrentItem {
  border-left: none;
  margin: 0;
}
.navTreeLevel2 a {
  padding-left: 1em;
}
.navTreeLevel3 a {
  padding-left: 2em;
}
.navTreeLevel4 a {
  padding-left: 3em;
}
.navTreeLevel5 a {
  padding-left: 4em;
}
.navTreeLevel6 a {
  padding-left: 5em;
}
.portlet .portletHeader > a, .portlet .portletHeader > span:nth-child(2) {
  display: block;
  color: #000;
  padding: 0.7em 1em;
  font-size: 1em;
}
.portlet .portletHeader > a:hover {
  background-color: #fff;
  color: #000 !important;
}
.portlet .portletHeader {
  padding: 0;
}
/********** Footer **********/
footer {
  border-top: #d8d8d8 1px solid;
  margin-top: 2em;
  padding: 2%;
  font-size: 80%;
  background: #e6e6e6;
  color: #000000;
}
footer a {
  color: #000000 !important;
}
footer p {
  margin-bottom: 2em;
}
/********* RESPONSIVE **********/
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  header {
    margin-bottom: 1em;
  }
  
  /* Mobile Menu theme color adjustments */
  #column-one {
    border-color: #E6E6E6;
  }

  dl.portlet ul.navTree .navTreeCurrentItem {
    border-color: #E6E6E6;
  }

  dl.portlet ul.navTree li a:hover {
    border-color: #E6E6E6;
  }

}
/* Landscape phones and down */
@media (max-width: 480px) {
  #logo {
    width: 100%;
    float: left;
    text-align: center;
    clear: both;
    margin-bottom: 1em;
  }
  #portal-searchbox {
    float: none;
    text-align: center;
    clear: both;
    font-size: 80%;
  }
}
