.cover-carousel-tile .galleria-container {
    display: none;
}

.cover-carousel-tile.galleria::before {
    content: '';
    background: url(++resource++collective.galleria/classic-loader.gif) no-repeat center center;
    opacity: 0.5;
    height: 25px;
    display: block;
}
.template-compose .cover-carousel-tile .galleria-container {
    display: block;
}

.template-compose .cover-carousel-tile.galleria::before {
    display: none;
}
/*
 * Acima inicia-se o galleria do cover com tema padrão escondida, para que ao carregar o
 * tema customizado não ocorra flicker de um para o outro.
 */

.tema-idg-branco.galleria::before {
    display: none;
}

.tema-idg-branco.galleria {
    margin-bottom: 15px;
}

.tema-idg-branco .galleria-container {
    display: block;
}

/*
 * Acima retorna os estilos ao padrão.
 */

.tema-idg-branco #galleria-loader {
    height: 1px !important
}

.tema-idg-branco .galleria-container {
    position: relative;
    overflow: hidden;
    background: #fff;
}

.tema-idg-branco .galleria-container img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.tema-idg-branco .galleria-stage {
    position: relative;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

.tema-idg-branco .galleria-images, .tema-idg-branco .galleria-image, .tema-idg-branco .galleria-layer {
    border-radius: 6px;
}

.tema-idg-branco .galleria-stage-wrap {
    position: relative;
    height: 100%;
}

.tema-idg-branco .galleria-loader {
    background: #000;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: none;
    background: url(++resource++collective.galleria/classic-loader.gif) no-repeat 2px 2px;
}

.tema-idg-branco .galleria-info {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.tema-idg-branco .galleria-info-text {
    padding: 0px;
    zoom: 1;  /* IE7 */
}

.tema-idg-branco .galleria-info-title {
    font: bold 2.5em/1.1 open_sanssemibold, arial, sans-serif !important;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
}

.tema-idg-branco .galleria-info-description {
    font: 1.2em/1.2 open_sansregular, arial, sans-serif;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #000;
}

.tema-idg-branco .galleria-info-close {
    width: 9px;
    height: 9px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-position: -753px -11px;
    opacity: .5;
    filter: alpha(opacity=50);  /* IE 5-7 */
    cursor: pointer;
    display: none;
}

.tema-idg-branco .notouch .galleria-info-close:hover {
    opacity: 1;
    filter: alpha(opacity=100);  /* IE 5-7 */
}

.tema-idg-branco .touch .galleria-info-close:active {
    opacity: 1;
    filter: alpha(opacity=100);  /* IE 5-7 */
}

.tema-idg-branco .galleria-info-link {
    background-position: -669px -5px;
    opacity: .7;
    filter: alpha(opacity=70);  /* IE 5-7 */
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #000;
}

.tema-idg-branco .notouch .galleria-info-link:hover {
    opacity: 1;
    filter: alpha(opacity=100);  /* IE 5-7 */
}

.tema-idg-branco .touch .galleria-info-link:active {
    opacity: 1;
    filter: alpha(opacity=100);  /* IE 5-7 */
}

.tema-idg-branco .galleria-image-nav {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -62px;
    width: 100%;
    height: 62px;
    left: 0;
}

.tema-idg-branco .galleria-image-nav-left,.galleria-image-nav-right {
    opacity: .3;
    filter: alpha(opacity=30);  /* IE 5-7 */
    cursor: pointer;
    width: 62px;
    height: 124px;
    position: absolute;
    left: 10px;
    z-index: 2;
    background-position: 0 46px;
}

.tema-idg-branco .galleria-image-nav-right {
    left: auto;
    right: 10px;
    background-position: -254px 46px;
    z-index: 2;
}

.tema-idg-branco .notouch .galleria-image-nav-left:hover,.notouch .galleria-image-nav-right:hover
    {
    opacity: 1;
    filter: alpha(opacity=100);  /* IE 5-7 */
}

.tema-idg-branco .touch .galleria-image-nav-left:active,.touch .galleria-image-nav-right:active
    {
    opacity: 1;
    filter: alpha(opacity=100);  /* IE 5-7 */
}

.tema-idg-branco .galleria-thumb-nav-left,.galleria-thumb-nav-right {
    cursor: pointer;
    display: none;
    background-position: -495px 5px;
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 23px;
    z-index: 3;
    opacity: .8;
    filter: alpha(opacity=80);  /* IE 5-7 */
}

.tema-idg-branco .galleria-thumb-nav-right {
    background-position: -578px 5px;
    border-right: none;
    right: 0;
    left: auto;
}

.tema-idg-branco .galleria-thumbnails-container .disabled {
    opacity: .2;
    filter: alpha(opacity=20);  /* IE 5-7 */
    cursor: default;
}

.tema-idg-branco .notouch .galleria-thumb-nav-left:hover,.notouch .galleria-thumb-nav-right:hover
    {
    opacity: 1;
    filter: alpha(opacity=100);  /* IE 5-7 */
    background-color: #111;
}

.tema-idg-branco .touch .galleria-thumb-nav-left:active,.touch .galleria-thumb-nav-right:active
    {
    opacity: 1;
    filter: alpha(opacity=100);  /* IE 5-7 */
    background-color: #111;
}

.tema-idg-branco .notouch .galleria-thumbnails-container .disabled:hover {
    opacity: .2;
    filter: alpha(opacity=20);  /* IE 5-7 */
    background-color: transparent;
}

.tema-idg-branco .galleria-carousel .galleria-thumb-nav-left,.galleria-carousel .galleria-thumb-nav-right
    {
    display: block;
}

.tema-idg-branco .galleria-thumb-nav-left,.galleria-thumb-nav-right,.galleria-info-link,.galleria-info-close,.galleria-image-nav-left,.galleria-image-nav-right
    {
    background-image: url(++resource++collective.galleria/classic-map.png);
    background-repeat: no-repeat;
}

.tema-idg-branco .galleria-thumbnails-container {
    height: 20px;
    width: 100%;
    bottom: 0;
    position: absolute;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0 0 5px 5px;

}

.tema-idg-branco .galleria-thumbnails-list {
    text-align: right;
    height: 100%;
}

.tema-idg-branco .galleria-thumbnails{
    display: inline-block;
    height: 100%;
}

.tema-idg-branco .galleria-thumbnails .galleria-image {
    position: relative;
    display: inline-block;
    zoom: 1;
    width: 20px;
    height: 20px;
    background: #1659bf; 
    margin-right: 0px;
    opacity: 1;
    cursor: pointer;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
}

.tema-idg-branco .galleria-thumbnails .galleria-image:last-child {
    border-radius: 0 0 5px 0;
}

.tema-idg-branco .galleria-thumbnails .galleria-image .img {
    display: inline-block;
    height: 6px;
    width: 6px;
    position: absolute;
    margin: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.tema-idg-branco .galleria-thumbnails .active {
    background-color: #edeff1;
    cursor: default;
}

.tema-idg-branco .galleria-thumbnails .active .img {
    background-color: #1659bf;
}

.tema-idg-branco .galleria-counter {
    font: normal 11px/18px arial, sans-serif;
    z-index: 2;
    color: #444;
    margin-top: 6px;
    margin-right: 12px;
    float: left;
}

.tema-idg-branco .galleria-counter span {
    color: #888;
}

.tema-idg-branco .galleria-thumbnails .galleria-image:hover {
    opacity: 1 !important;
}

.tema-idg-branco .galleria-counter {
    display: none;
}

.tema-idg-branco .template-view .galleria-layer .tile-remove-item {
    display: none;
}